* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(68, 68, 88);
    color: white;
}

nav {
    background-color: rgb(124, 93, 115);
    text-align: right;
    position: fixed;
    width: 98.75%;
}

nav ul {
    list-style: none;
    padding: 1em;
}

nav ul a {
    text-decoration: none;
    color: white;
    margin-left: 10%;
    font-size: 1.5em;
}

#welcome-section {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#welcome-text {
    text-align: center;
    margin: 0;
    padding: 40vh 0 0 0;
}

h1 {
    margin: 0;
    font-size: 3em;
}

#name {
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: rgb(59, 134, 134);
    text-underline-offset: .1em;
}

p {
    margin: .5em;
    font-size: 1.25em;
    color: rgb(161, 122, 150);
    font-style: italic;
}

main {
    padding: 1em 0.2em;

    text-align: center;
    background-color: rgb(44, 99, 99);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tile {
    background-color: gray;
    width: 20%;
    height: 14em;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
}

#product-text {
    margin: 3em 1em;
    padding: .5em;
    background-color: rgba(68, 68, 88, 0.808);
    border-radius: .5em;
}

#product-link, #profile-link {
    color: white;
    text-decoration: none;
}

#contact-info {
    text-align: center;
    padding: 2em 0;
}

#balance-sheet {
    background-image: url(balance-sheet.png);
    background-size: cover;
    background-position: center;
}

#contact-tile {
    width: 20%;
    font-size: 1.5em;
}

h3 {
    font-size: 2em;
}

footer {
    margin: 1em 0 2em 0;
}

#line {
    background-color: rgb(161, 122, 150);
    height: .5em;
}

strong {
    font-size: 1.5em;
}

#copyright {
    margin: 2em;
    font-size: 1.25em;
    font-style: italic;
}

@media (max-width: 900px) {
    nav {
        text-align: center;
        width: 98%;
    }
    nav ul {
        padding: 0;
    }
    nav ul a{
        display: block;
        margin: 0;
    }
    .project-tile {
        width: 40%;
    }
}

@media (max-width: 700px) {
    nav {
        text-align: center;
        width: 97%;
    }
    nav ul a{
        display: block;
        margin: 0;
    }
    .project-tile {
        width: 60%;
    }
}